.header {
    height: 100px;
    background-color:#E5E8EF;
}
 .nav ul{
    display: block;
}
.nav li {
    display: inline;
    font-size: 27px;
    padding-right: 30px;
}
.nav {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}
.menubtn{
    float: right;
    display: none;
    background-color: #E4572E;
}