.signup h1, 
.signup p {
    text-align: center;
}

.signup h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.signup {
    width: max-content;
    margin: 0 auto;
}

.signup .submitButton {
    margin: 1rem auto;
}

.searchpage .search_box {
    height: 500px;
    background-color:lightblue;
    text-align: center;
    padding: 40px;
}

.searchpage .search_inp_div {
    background-color: white;
    width: 841px;
    margin: 20px auto;
    padding: 10px 26px;
    border-radius: 10px;
}

.searchpage .reset_circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid grey;
    margin-right: 5px;
}

.searchpage .search_input {
    width: 500px;
    height: 50px;
    background-color: transparent;
    border: none;
}

.searchpage .filtertag{
    width: 100px;
    height: 40px;
    background-color: black;
    color:white;
    margin:5px;
    border-radius: 5px;
}
//searchpage influencercard styling

.searchpage .influ_div{
    display:flex;
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    height:200;
    border: 1px solid;
    width: 300px;
    height: 400px;
    margin: 30px;
}

.searchpage .influ_count_div{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.searchpage .tag_div{
    padding: 20px;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
}

.searchpage .influ_count_div div{
    padding: 20px;
}

.searchpage .tag{
    width: 100px;
    height: 32px;
    color: grey;
    border-radius: 20px;
    border: 1px solid;
    margin: 5px;
}

.searchpage .btn{
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
   margin: 40px;
   font-size: 20px;
    color: white;
}

.search-result {
    display: grid;
    grid-template-columns: 25% 75%;
}

.search-result .header{
    grid-column: 1/-1;
}

.search-result .sort-by-grid {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.search-result .sort-by-grid  select {
    border: none;
    max-width: fit-content;
}

.search-result .results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.search-result .results .influ_div {
    margin: 0.5rem;
    border: 1px solid darkgrey;
}

.search-result .results h2 {
    text-align: center;
}


.search-result .influ_count_div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.search-result .influ_count_div div,
.searchpage .influ_count_div div 
 {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    padding-left: 0.5rem;
}

.search-result .influ_count_div div:last-of-type {
    border-left: 1px solid darkgray;
}

.search-result .tag {
    border: 1px solid darkgrey;
    border-radius: 12px;
    max-width: fit-content;
    padding: 0 0.25rem;
    margin: 0.25rem;
}

.search-result .tag_div {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.search-result .filters {
    padding: 1rem;
}

.search-result .filters input:first-of-type {
    border-radius: 20px;
    border-color: darkgrey;
}

.search-result .filters .reset-button {
    border:none;
    background-color: white;
}

.search-result .apply-filters-div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.search-result .filters ul button {
    border-radius: 40%;
    border: none;
    padding: 0.25rem;
    background-color: rgba(255, 255, 255, 0.233);
    color:white;
}

.search-result .filters li {
    background-color: black;
    color: white;
    border-radius: 18px;
}

.search-result .apply-filters-div ul {
    display: flex;
    flex-flow: row wrap;
}

.search-result .apply-filters-div li {
    padding: 0 0.5rem;
    margin: 0.25rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
// Tags styling
.tag{
width: 100px;
height: 32px;
color: grey;
border-radius: 20px;
border: 1px solid;
margin: 5px;
list-style: none;
text-align: center;

}

// Campaign Home page styling
.pad20{
    padding: 20px;
}

.campstat_card{
    border: 1px solid black;
    height: 150px;
    border-radius: 10px;
    width: 32%;
    margin-right: 10px;
    padding: 30px;
}

.statcard_div{
    display: flex;
    flex-direction: row;
}

.search_hme_div{
    background-color: lightgray;
    margin: 30px 10px;
    padding-left:20px;
    border-radius: 5px;
}

.curcamp_card{
    border: 1px solid black;
    height: 230px;
    width: 23%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toblock{
    height: 100px;
    background-color: lightgrey;
    width: 100%;
}

.chipcont{
    display: flex;
    flex-direction: row;
}

.camcard_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.create_btn{
    display: flex;
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 180px;
    height: 50px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 1px 5px 15px rgb(57, 245, 192);
    cursor: pointer;

}

.modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content{
    width: 400px;
    height: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.modal_inputs{
    background-color: lightgray;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal_search_input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    padding-left: 10px;

}

.contnr{
    width: 100%;
    padding-top: 20px;
}

.mchip{
    width: 80px;
    height: 30px;
    background-color: black;
    color:white;
    margin:5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cbtn{
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 20px;
    background-color: black;
    float: right;
    margin-top: 25px;
}

//search influencercard styling
.searchpage .results .influ_div {
    margin: 0.5rem;
    border: 1px solid darkgrey;
}

.searchpage .results h2 {
    text-align: center;
}


.searchpage .influ_count_div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.searchpage .influ_count_div div:last-of-type {
    border-left: 1px solid darkgray;
}

.searchpage .tag {
    border: 1px solid darkgrey;
    border-radius: 12px;
    max-width: fit-content;
    padding: 0 0.25rem;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}






