.signup h1, 
.signup p {
    text-align: center;
}

.signup h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.signup {
    width: max-content;
    margin: 0 auto;
}

.signup .submitButton {
    margin: 1rem auto;
}