
img {
    max-width: 100%;
    height: auto;
}

.searchpage .pro_pic{
    width:100px;
    border-radius: 100%;
}

.search-result .results img {
    border-radius: 50%;
    padding: 2rem;
}

.searchpage .filtertag button img {
    display: inline-block;
}

.searchpage .filtertag button {
    border-radius: 50%;
    border: none;
}