.header .nav, .tag_div .tag, .search-result .filters ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}
.nav li {
    font-family: sans-serif;
    display: inline;
    font-size: 27px;
}

.nav li:first-of-type {
    padding-right: 2rem;
}