.searchpage .nav li {
    font-family: sans-serif;
    display: inline;
    font-size: 27px;
    padding-right: 30px;
}

.searchpage .nav {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}