/* 
TABLE OF CONTENTS

1. Reset
2. Typography
3. Header - Footer
4. Navigation
5. Layout
6. Media
7. Forms
8. Accessibility
9. Mixins
10. Variables
*/
/* RESET ============================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* TYPOGRAPHY ======================================== */
.search-result .influ_count_div div p:first-of-type {
  font-size: 0.85rem;
}

.search-result .influ_count_div div p:last-of-type {
  font-weight: bold;
}

/* NAVIGATION ======================================== */
.header .nav, .tag_div .tag, .search-result .filters ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header li {
  padding: 1rem;
}

.header ul {
  display: flex;
  flex-flow: row nowrap;
}

.nav {
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}

.nav li {
  font-family: sans-serif;
  display: inline;
  font-size: 27px;
  padding-right: 30px;
}

/* MEDIA ============================================ */
img {
  max-width: 100%;
  height: auto;
}

.searchpage .pro_pic {
  width: 100px;
  border-radius: 100%;
}

.search-result .results img {
  border-radius: 50%;
  padding: 2rem;
}

/* HEADER FOOTER =================================== */
.header {
  height: 100px;
  background-color: #E5E8EF;
}

.nav ul {
  display: block;
}

.nav li {
  font-family: sans-serif;
  display: inline;
  font-size: 27px;
  padding-right: 30px;
}

.nav {
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}

.menubtn {
  float: right;
  display: none;
  background-color: #E4572E;
}

/* LAYOUT =========================================== */
.signup h1,
.signup p {
  text-align: center;
}

.signup h1 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.signup {
  width: max-content;
  margin: 0 auto;
}

.signup .submitButton {
  margin: 1rem auto;
}

.search-result {
  display: grid;
  grid-template-columns: 25% 75%;
}

.search-result .header {
  grid-column: 1/-1;
}

.search-result .sort-by-grid {
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.search-result .sort-by-grid select {
  border: none;
  max-width: fit-content;
}

.search-result .results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search-result .results .influ_div {
  margin: 0.5rem;
  border: 1px solid darkgrey;
}

.search-result .results h2 {
  text-align: center;
}

.search-result .influ_count_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.search-result .influ_count_div div,
.searchpage .influ_count_div div {
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding-left: 0.5rem;
}

.search-result .influ_count_div div:last-of-type {
  border-left: 1px solid darkgray;
}

.search-result .tag {
  border: 1px solid darkgrey;
  border-radius: 12px;
  max-width: fit-content;
  padding: 0 0.25rem;
  margin: 0.25rem;
}

.search-result .tag_div {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.search-result .filters {
  padding: 1rem;
}

.search-result .filters input:first-of-type {
  border-radius: 20px;
  border-color: darkgrey;
}

.search-result .filters .reset-button {
  border: none;
  background-color: white;
}

.search-result .apply-filters-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.search-result .filters ul button {
  border-radius: 40%;
  border: none;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.233);
  color: white;
}

.search-result .filters li {
  background-color: black;
  color: white;
  border-radius: 18px;
}

.search-result .apply-filters-div ul {
  display: flex;
  flex-flow: row wrap;
}

.search-result .apply-filters-div li {
  padding: 0 0.5rem;
  margin: 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.pad20 {
  padding: 20px;
}

.campstat_card {
  border: 1px solid black;
  height: 150px;
  border-radius: 10px;
  width: 32%;
  margin-right: 10px;
  padding: 30px;
}

.statcard_div {
  display: flex;
  flex-direction: row;
}

.search_hme_div {
  background-color: lightgray;
  margin: 30px 10px;
  padding-left: 20px;
  border-radius: 5px;
}

.curcamp_card {
  border: 1px solid black;
  height: 230px;
  width: 23%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toblock {
  height: 100px;
  background-color: lightgrey;
  width: 100%;
}

.chipcont {
  display: flex;
  flex-direction: row;
}

.camcard_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.create_btn {
  display: flex;
  position: fixed;
  bottom: 50px;
  right: 40px;
  width: 180px;
  height: 50px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 1px 5px 15px rgb(57, 245, 192);
  cursor: pointer;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  width: 400px;
  height: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.modal_inputs {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal_search_input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  padding-left: 10px;
}

.contnr {
  width: 100%;
  padding-top: 20px;
}

.mchip {
  width: 80px;
  height: 30px;
  background-color: black;
  color: white;
  margin: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cbtn {
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 20px;
  background-color: black;
  float: right;
  margin-top: 25px;
}

body {
  font-family: sans-serif;
}

.searchpage .background {
  background-color: #E5E8EF;
}

.searchpage .influ {
  display: flex;
  flex-direction: column;
  padding: 90;
}

.searchpage .influ h1 {
  margin-top: 20;
  margin-bottom: 20;
  margin-left: 10px;
  padding: 10px;
}

.searchpage .influ .influ-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.searchpage .tag {
  border: 1px solid darkgrey;
  border-radius: 12px;
  max-width: fit-content;
  padding: 0 0.25rem;
  margin: 0.25rem;
  background: #FBE3DC;
  border: 1px solid #ED8F74;
  border-radius: 50px;
}

.searchpage .influ_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  margin: 30px;
}

.searchpage .influ_count_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.searchpage .influ_count_div div:last-of-type {
  border-left: 1px solid darkgray;
}

.searchpage .influ_count_div div {
  padding-left: 70px;
}

.searchpage .influ_div {
  width: 400px;
  height: 400px;
  margin: 10px;
  margin-left: 20px;
  background: linear-gradient(126.5deg, #FFFFFF 0%, #F2F5FC 96.54%);
  box-shadow: 5px 8px 15px rgba(20, 41, 90, 0.1);
  border-radius: 4px;
}

.searchpage .tag_div {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: -100px;
}

.search_box {
  min-height: 500px;
  background: linear-gradient(264.44deg, rgba(228, 87, 46, 0.15) 3.99%, rgba(90, 13, 254, 0.15) 56.08%, rgba(18, 0, 55, 0.15) 109.51%);
  text-align: center;
  padding: 40px;
}

.sub_head {
  margin: 20px 0;
}

.search_inp_div {
  background: #FFFFFF;
  box-shadow: 0px 24px 32px rgba(39, 15, 80, 0.2);
  border-radius: 4px;
  max-width: 841px;
  margin: 20px auto;
  padding: 10px 26px;
  border-radius: 10px;
  width: 100%;
}

.search_input {
  max-width: 500px;
  height: 40px;
  background-color: transparent;
  border: none;
  width: 100%;
}

.filter {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  margin: 5px;
  border-radius: 5px;
}

.tag_div {
  padding: 20px;
}

.pro_pic {
  width: 100px;
  border-radius: 100%;
}

.btn {
  width: 140px;
  height: 44px;
  background: #E4572E;
  margin: 40px;
  font-size: 20px;
  color: white;
  border-radius: 500px;
}

@media only screen and (max-width: 600px) {
  .searchpage .search_box h1 {
    font-size: 20px;
  }
  .menubtn {
    display: block;
  }
  .nav ul li {
    display: inherit;
    text-align: center;
    border-bottom: 1px solid grey;
  }
  .nav {
    margin-right: 10px;
  }
  .nav ul {
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: white;
    border-top: 1px solid black;
    padding: 0;
    display: none;
  }
  .nav.expanded ul {
    display: block;
  }
}
.searchpage .influ .influ-div {
  margin-left: 70px;
}

.searchpage .influ .influ-cards {
  margin-left: 20px;
}

/* ACCESSIBILITY =================================== */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* FORMS =========================================== */
.signup form label,
.signup form input {
  display: block;
}

.signup form {
  border: 1px solid black;
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
