/* 
TABLE OF CONTENTS

1. Reset
2. Typography
3. Header - Footer
4. Navigation
5. Layout
6. Media
7. Forms
8. Accessibility
9. Mixins
10. Variables
*/
/* RESET ============================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* TYPOGRAPHY ======================================== */
.search-result .influ_count_div div p:first-of-type {
  font-size: 0.85rem;
}

.search-result .influ_count_div div p:last-of-type {
  font-weight: bold;
}

body {
  font-family: sans-serif;
}

.searchpage .sub_head {
  font-size: 16px;
}

.searchpage .step-number {
  font-size: 20px;
}

.searchpage .step-details {
  font-size: 20px;
}

/* NAVIGATION ======================================== */
.header .nav, .tag_div .tag, .search-result .filters ul, .landing .create-account ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.landing .create-account a {
  text-decoration: none;
  color: #3301A0;
}

.nav li:first-of-type,
.nav li:nth-of-type(2) {
  padding-right: 1rem;
}

.landing .nav li:nth-of-type(2) {
  padding-right: 1rem;
}

.nav .username {
  text-align: center;
  font-weight: bold;
  padding-left: 0;
}

.nav .username li:first-of-type {
  padding-right: 0.5rem;
}

@media screen and (min-width: 750px) {
  .nav {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
  }
  .nav li {
    font-family: sans-serif;
    display: inline;
    font-size: 27px;
  }
  .landing .nav li:nth-of-type(2) {
    padding-right: 2rem;
  }
}
a {
  color: black;
  text-decoration: none;
}

.search-result .results li,
.first-ul li {
  transition: all 0.25s;
}

.search-result .results li:hover,
.first-ul li:hover {
  transform: scale(1.025);
}

/* MEDIA ============================================ */
img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 750px) {
  .logo {
    justify-self: start;
    width: 60%;
  }
}
.searchpage .pro_pic,
.search-result .results img {
  border-radius: 50%;
  padding: 2rem;
  margin: 0 auto;
}

.search-result .searched-keywords button img,
.searchpage .filtertag button img {
  display: inline-block;
}

.search-result .searched-keywords button,
.searchpage .filtertag button {
  border-radius: 50%;
  border: none;
}

/* HEADER FOOTER =================================== */
.header-background {
  background-color: #E5E8EF;
}

.header .nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.landing .header img {
  width: 90%;
}

.header img {
  margin: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.footer-background {
  background-color: #E5E8EF;
}

@media screen and (min-width: 750px) {
  .header ul {
    flex-flow: row nowrap;
  }
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
  }
  .header .nav {
    justify-self: end;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.nav ul {
  display: block;
}

.nav li {
  display: inline;
  font-size: 27px;
  color: #485063;
}

.nav li .active,
.nav a:active {
  color: #E4572E;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
  color: #485063;
}

.nav .no-active {
  color: #485063 !important;
}

.menubtn {
  float: right;
  display: none;
  background-color: #E4572E;
}

.header h1 {
  align-self: center;
  padding-left: 1rem;
}

.header li {
  align-self: center;
}

.landing .btn {
  width: 9rem;
  height: 44px;
  background: #E4572E;
  font-size: 20px;
  color: white;
  border-radius: 500px;
  border: none;
}

/* LAYOUT =========================================== */
.login h1,
.login p,
.signup h1,
.signup p {
  text-align: center;
}

.login p,
.signup p {
  margin-top: 0.5rem;
}

.login a,
.signup a {
  color: #E4572E;
  text-decoration: none;
  font-weight: bolder;
}

.login h1,
.signup h1 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.signup,
.login {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login .submit-button-div,
.signup .submit-button-div {
  text-align: center;
  padding-top: 1rem;
}

.signup .submitButton {
  margin: 1rem auto;
}

.login form label,
.signup form label {
  margin-bottom: 1rem;
}

.login .submit-button-div input,
.signup .submit-button-div input {
  background: #E4572E;
  color: white;
  border-radius: 500px;
  border: none;
  padding: 0.5rem 2rem;
}

.header-max-width-div,
.search-result .max-width-div,
.searchpage .max-width-div {
  max-width: 1200px;
  margin: 0 auto;
}

.search-result .filters .choose-gender,
.search-result .filters .choose-area,
.search-result .filters .choose-topic {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.search-result .choose-area select {
  margin-top: 0.75rem;
}

.search-result .one-line .filtertag,
.searchpage .search-filters .filtertag {
  margin-left: 1rem;
}

.search-result .one-line {
  text-align: center;
}

.search-result .one-line ul,
.searchpage .search-filters {
  display: flex;
  flex-flow: row wrap;
}

.search-result .one-line ul {
  padding-left: 1rem;
}

.searchpage .reset_circle {
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
  transition: all 0.25s;
}

.searchpage .reset_circle:hover {
  transform: scale(1.25);
}

.search-result .results,
.searchpage .first-ul {
  margin: 1rem;
  padding: 0;
}

.search-result .results {
  margin-left: 0;
}

.search-result .results li,
.searchpage .first-ul li {
  margin: 1rem;
}

.searchpage .tag_div li {
  margin: 0.25rem;
}

.searchpage .tag_div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.searchpage .trending-influencers h1 {
  margin-left: 2rem;
  padding-top: 1rem;
}

.searchpage .influ .influ-div {
  margin: 1rem;
}

.search-result .searched-keywords {
  margin: 1rem 0;
  background: linear-gradient(264.44deg, rgba(228, 87, 46, 0.15) 3.99%, rgba(90, 13, 254, 0.15) 56.08%, rgba(18, 0, 55, 0.15) 109.51%);
}

.search-result .searched-keywords li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
}

.search-result .sort-by-grid select {
  border: none;
  max-width: fit-content;
}

.searchpage .influ_div h2,
.search-result .results h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.searchpage .influ_count_div,
.search-result .influ_count_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.searchpage .trending-influencers li {
  list-style-type: none;
}

.search-result .influ_count_div div,
.searchpage .influ_count_div div {
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.search-result .influ_count_div div:last-of-type {
  border-left: 1px solid darkgray;
}

.search-result .tag {
  border: 1px solid darkgrey;
  border-radius: 12px;
  max-width: fit-content;
  padding: 0 0.25rem;
  margin: 0.25rem;
}

.searchpage .trending-influencers .tag_div,
.searchpage .tag_div,
.search-result .tag_div {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.search-result .filters .choose-gender {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

.search-result .reset-button {
  width: 140px;
  height: 44px;
  background: #E4572E;
  font-size: 20px;
  color: white;
  border-radius: 500px;
  border: none;
  margin: 1rem;
}

.search-result form {
  text-align: center;
}

.search-result .search_input {
  height: 2rem;
  width: 20rem;
  border: 1px solid grey;
}

.search-result .add-button {
  width: 100px;
  height: 34px;
  background: #E4572E;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 500px;
  margin: 1rem;
}

.search-result .apply-filters-div {
  padding-left: 1rem;
}

.search-result .reset-button-layout h2 {
  padding: 1rem;
}

.search-result .filters ul button {
  border-radius: 40%;
  border: none;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.233);
  color: white;
}

.search-result .filters li {
  background-color: black;
  color: white;
  border-radius: 18px;
}

.searchpage .trending-influencers .tag_div,
.searchpage .tag_div,
.search-result .apply-filters-div ul {
  display: flex;
  flex-flow: row wrap;
}

.searchpage .influ-cards li,
.search-result .tag_div li {
  padding: 0 0.5rem;
  margin: 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #FBE3DC;
  border: 1px solid #ED8F74;
}

.search-result .results li {
  list-style-type: none;
}

.search-result,
.searchpage .background {
  background-color: #E5E8EF;
}

.searchpage .tag,
.campaign-page .tag {
  border: 1px solid darkgrey;
  border-radius: 12px;
  max-width: fit-content;
  padding: 0.25rem;
  margin: 0.25rem;
  background: #FBE3DC;
  border: 1px solid #ED8F74;
  border-radius: 50px;
}

.search-result .influ_div,
.searchpage .influ_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(126.5deg, #FFFFFF 0%, #F2F5FC 96.54%);
  box-shadow: 5px 8px 15px rgba(20, 41, 90, 0.1);
}

.searchpage .influ_count_div div:last-of-type {
  border-left: 1px solid darkgray;
}

.searchpage .search_box {
  background: linear-gradient(264.44deg, rgba(228, 87, 46, 0.15) 3.99%, rgba(90, 13, 254, 0.15) 56.08%, rgba(18, 0, 55, 0.15) 109.51%);
  text-align: center;
}

.searchpage .search_inp_div {
  background: #FFFFFF;
  box-shadow: 0px 24px 32px rgba(39, 15, 80, 0.2);
  margin: 1rem;
  border-radius: 10px;
}

.searchpage .search_input {
  height: 3rem;
  background-color: transparent;
  border: none;
  width: 100%;
}

.searchpage .filter {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  margin: 5px;
  border-radius: 5px;
}

.searchpage .btn {
  background: #E4572E;
  margin: 1rem;
  font-size: 20px;
  color: white;
  border-radius: 500px;
  border: none;
  padding: 0.25rem 3rem;
}

.searchpage .btn {
  transition: 0.25s all;
}

.searchpage .btn:hover {
  background: #e54f21;
  transform: scale(1.025);
}

.searchpage .search-filters .filtertag button,
.search-result .filtertag button {
  margin-left: 0.5rem;
}

@media screen and (min-width: 750px) {
  .searchpage .tag_div,
.search-result .tag_div {
    height: 3.5rem;
    overflow: hidden;
  }
  .searchpage .influ_div h2,
.search-result .results h2 {
    height: 2rem;
    overflow: hidden;
  }
  .searchpage .search-filters .filtertag {
    margin: 0.5rem;
  }
  .searchpage .trending-influencers .first-ul,
.searchpage .influ .influ-cards,
.search-result .results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .searchpage .search_inp_div {
    max-width: 915px;
    margin: 1rem auto;
  }
  .searchpage .search-filters {
    width: 900px;
    margin: 1rem auto;
  }
  .search-result .apply-filters-div {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .search-result .searched-keywords,
.search-result .header {
    grid-column: 1/-1;
  }
  .search-result .sort-by-grid {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 1rem;
  }
  .search-result .sort-by-grid select {
    max-width: 75%;
  }
}
.campaign-page .campstat_card {
  border: 1px solid black;
  height: 150px;
  border-radius: 10px;
  width: 32%;
  margin-right: 10px;
  padding: 30px;
}

.campaign-page .statcard_div {
  display: flex;
  flex-direction: row;
}

.campaign-page .search_hme_div {
  background-color: lightgray;
  margin: 30px 10px;
  padding-left: 20px;
  border-radius: 5px;
}

.campaign-page .curcamp_card {
  border: 1px solid black;
  height: 230px;
  width: 23%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campaign-page .camcard_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.campaign-page .create_btn {
  display: flex;
  position: fixed;
  bottom: 50px;
  right: 40px;
  width: 180px;
  height: 50px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 1px 5px 15px rgb(57, 245, 192);
  cursor: pointer;
}

.campaign-page .modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.campaign-page .modal_content {
  width: 400px;
  height: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.campaign-page .modal_inputs {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.campaign-page .modal_search_input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  padding-left: 10px;
}

.campaign-page .contnr {
  width: 100%;
  padding-top: 20px;
}

.campaign-page .cbtn {
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 20px;
  background-color: black;
  float: right;
  margin-top: 25px;
}

.campaign-page .search_hme_div {
  display: "flex";
  flex-direction: "row";
  justify-content: "space-between";
}

.landing .container-background {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(81.16deg, #121724 15.87%, #373F52 103.97%);
}

.landing .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.landing .container img {
  padding-right: 1rem;
  padding-left: 1rem;
  place-self: center;
}

.landing .container p {
  color: #E5E8EF;
  margin-top: 0.5rem;
  text-align: left;
}

.landing .container h2 {
  color: pink;
  margin-top: 1rem;
  text-align: left;
}

.landing .container-elements {
  align-self: center;
  padding-left: 1rem;
}

.landing .container-elements .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.landing .blue-text {
  color: #373F52;
  text-align: center;
  margin-top: 1rem;
}

.landing .blue-text-no-margin {
  color: #373F52;
  text-align: center;
  margin-bottom: 1rem;
}

.landing .cards {
  text-align: center;
}

.landing .card {
  max-width: max-content;
  background: linear-gradient(126.5deg, #FFFFFF 0%, #F2F5FC 96.54%);
  box-shadow: 5px 8px 15px rgba(20, 41, 90, 0.1);
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.landing .create-account, .landing .footer {
  text-align: center;
}

.landing .create-account ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.landing .create-account li {
  padding: 0.5rem;
}

.landing .create-account h2 {
  padding-top: 1rem;
}

.landing .create-account button {
  margin: 1rem;
  margin-top: 0.5rem;
}

.landing .footer p {
  font-weight: bold;
  padding-bottom: 1rem;
}

.landing .big-image {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .landing .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }
  .landing .cards div:last-of-type {
    grid-column: 2/3;
  }
}
.creator .margin {
  padding: 30px;
}

.creator .tob_Banner {
  height: 250px;
}

.creator .top_Banner_bg {
  height: 150px;
  background-image: url("https://i.pinimg.com/736x/69/0f/51/690f51e0aded53b927d2b4397571e0c6.jpg");
  display: flex;
  justify-content: flex-end;
}

.creator .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  margin: 10px;
  margin-top: -42px;
  border: 1px solid white;
  margin-left: 40px;
}

.creator .popubtn {
  width: 160px;
  height: 40px;
  border-radius: 25px;
  align-self: flex-end;
  margin: 20px;
  background: #E4572E;
  color: white;
  border: none;
}

.creator .textcont {
  display: flex;
}

.creator .namebord {
  margin-left: 140px;
}

.creator .baner {
  font-size: 13px;
}

.creator .score_card {
  width: 80px;
  height: 70px;
  background: #4501D5;
  position: absolute;
  right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 0 0 10px 10px;
}

.creator .grid_container {
  display: grid;
  grid-template-columns: 70% auto;
}

.creator .block {
  width: 100%;
  height: 80px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creator .overviewBlocks {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
  gap: 20px;
}

.creator .video {
  margin-top: 20px;
}

.creator .tags {
  width: 100px;
  height: 28px;
  color: #3D1408;
  border-radius: 20px;
  border: 1px solid grey;
  margin: 5px;
  background: #FBE3DC;
  border: 1px solid #ED8F74;
}

.creator .tag_style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator .popubtn {
  width: 160px;
  height: 40px;
  border-radius: 25px;
  align-self: flex-end;
  margin: 20px;
  background: #E4572E;
  color: white;
  border: none;
}

.creator.filter_result {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ded2d2;
  padding: 10px;
}

.creator .filter_title {
  font-size: 14px;
  font-weight: bold;
}

.creator .creat_capm_txt {
  text-align: center;
  color: blue;
  padding: 20px;
}

.creator .filtr_text_cont {
  padding-left: 20px;
}

.creator .filter_subtitle {
  font-size: 13px;
}

.creator .ml20 {
  margin-left: 20px;
  margin-top: 20px;
}

.creator .tag_cntnr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.creator .modal_inputs {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.creator .modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator .modal_content {
  width: 400px;
  height: 500px;
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
}

.creator .contnr {
  width: 100%;
  padding-top: 20px;
}

.creator .cbtn {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: #E4572E;
  color: white;
  border: none;
  margin-top: 25px;
}

.creator .modal_search_input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  padding-left: 10px;
}

.creator .modal_style {
  display: flex;
  justify-content: space-between;
}

.creator .pointer {
  cursor: pointer;
}

.creator .textarea {
  width: 100%;
  border-radius: 5;
  background-color: white;
}

.creator .graph_style {
  border: 1px solid;
  padding: 100px;
}

.creator .grid_container_graph {
  display: grid;
  grid-template-columns: 70% auto;
}

@media only screen and (max-width: 600px) {
  .creator .grid_container {
    display: grid;
    grid-template-columns: 100%;
  }
  .creator .overviewBlocks {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    gap: 20px;
  }
  .creator .grid_container_graph {
    display: grid;
    grid-template-columns: auto;
  }
  .creator .avatar {
    margin-top: -120px;
  }
  .creator .textcont {
    margin-top: 0px;
    padding: 20px;
  }
  .creator .namebord {
    margin-left: 0px;
  }
  .creator .link {
    display: flex;
    flex-direction: column;
  }
}
.profile {
  background: #DCE7FB;
}

.profile .grid_container {
  display: grid;
  grid-template-columns: 25% auto;
  padding: 100px;
  gap: 50px;
}

.profile .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  border: 1px solid white;
}

.profile .user-details {
  margin-top: 100px;
}

.profile .user-data {
  display: flex;
  flex-direction: column;
}

.profile .email-notification {
  padding: 30px 30px 30px 0px;
}

.profile .email {
  padding: 30px 30px 30px 0px;
}

.profile .password {
  padding: 30px 30px 30px 0px;
}

.profile .subscription {
  padding: 30px 30px 30px 0px;
}

.profile .delete {
  padding: 30px 30px 30px 0px;
}

.profile .heading {
  margin-bottom: 20px;
}

.profile .change-button {
  border-radius: 10px;
  border: 1px solid #E4572E;
  background-color: #E4572E;
  color: white;
  width: 100px;
}

.profile .settings {
  display: grid;
  grid-template-columns: 50% 50%;
}

.profile .modal_inputs {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile .modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .modal-style {
  display: flex;
  justify-content: space-between;
}

.profile .modal_content {
  width: 400px;
  height: 200px;
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
}

.profile .cbtn {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: #E4572E;
  color: white;
  border: none;
  margin-top: 25px;
}

.profle .modal_search_input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  padding-left: 10px;
}

.profile .modal_style {
  display: flex;
  justify-content: space-between;
}

.profile .pointer {
  cursor: pointer;
}

.toggle-switch {
  position: relative;
  margin-right: 10px;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.toggle-switch-checkbox {
  display: none;
}
.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  margin: 0;
}
.toggle-switch-label:focus {
  outline: none;
}
.toggle-switch-label:focus > span {
  box-shadow: 0 0 2px 5px red;
}
.toggle-switch-label > span:focus {
  outline: none;
}
.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.toggle-switch-inner:before, .toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.toggle-switch-inner:before {
  content: attr(data-yes);
  text-transform: uppercase;
  padding-left: 10px;
  background-color: #E4572E;
  color: #fff;
}
.toggle-switch-disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
.toggle-switch-disabled:before {
  background-color: #ddd;
  cursor: not-allowed;
}
.toggle-switch-inner:after {
  content: attr(data-no);
  text-transform: uppercase;
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.toggle-switch-switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}
.toggle-switch.small-switch {
  width: 40px;
}
.toggle-switch.small-switch .toggle-switch-inner:after, .toggle-switch.small-switch .toggle-switch-inner:before {
  content: "";
  height: 20px;
  line-height: 20px;
}
.toggle-switch.small-switch .toggle-switch-switch {
  width: 16px;
  right: 20px;
  margin: 2px;
}

@media only screen and (max-width: 600px) {
  .profile {
    margin: 20px;
  }
  .profile .grid_container {
    display: inline;
  }
  .profile .user-data {
    margin: 0px 20px 20px 20px;
  }
  .profile .items {
    margin: 0px 20px 20px 20px;
  }
}
/* ACCESSIBILITY =================================== */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* FORMS =========================================== */
.login form label,
.login form input,
.signup form label,
.signup form input {
  display: block;
}

.login .submit-button-div input,
.signup .submit-button-div input {
  display: unset;
}

.login form,
.signup form {
  border: 1px solid black;
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
