.login form label,
.login form input,
.signup form label, 
.signup form input {
    display: block;
}

.login .submit-button-div input,
.signup .submit-button-div input {
    display: unset;
}

.login,
.signup {
    border: 1px solid darkgray;
    padding: 1rem;
    
}
