.header-background {
    background-color:#E5E8EF;
}

.header .nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header ul {
    display: flex;
    flex-flow: row nowrap;
}

.landing .header img {
    width: 90%;
}

.header img {
    margin: 1rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}


.footer-background {
    background-color: #E5E8EF;
}

@media screen and (min-width: 750px) {
   .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    }

    .header .nav {
        justify-self: end;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
}

 .nav ul{
    display: block;
}

.nav li {
    display: inline;
    font-size: 27px;
    color: #485063;
}

.nav li .active,
.nav a:active {
    color:#E4572E;
    text-decoration: none;
}

.nav a {
    text-decoration: none;
    color: #485063;
}

.nav .no-active {
    color: #485063 !important;
}

.menubtn{
    float: right;
    display: none;
    background-color: #E4572E;
}

.header h1 {
    align-self: center;
    padding-left: 1rem;
}

.header li {
    align-self: center;
}

.landing .btn {
    width: 9rem;
    height: 44px;
    background: #E4572E;
    font-size: 20px;
    color: white;
    border-radius: 500px;
    border: none;
}