// Colors
$label-colour: #bbb;
$disabled-colour: #ddd;
$toggle-colour:#E4572E;
$white: #fff;
$focus-color: #ff0;
$background-color: linear-gradient(264.44deg, rgba(228, 87, 46, 0.15) 3.99%, rgba(90, 13, 254, 0.15) 56.08%, rgba(18, 0, 55, 0.15) 109.51%);
$button-color-background: #E4572E;
$button-text-color:white;
$tag-button-background: #FBE3DC;
$tag-button-text-color:black;
$change-button-color:#E4572E;
$secondary-background-color: #DCE7FB;
$link-color: #22006A;


.login h1,
.login p,
.signup h1, 
.signup p {
    text-align: center;
}

.login p, 
.signup p {
    margin-top: 0.5rem;
}

.login a,
.signup a {
    color:#E4572E;
    text-decoration: none;
    font-weight: bolder;
}

.login h1,
.signup h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.signup, 
.login {
    width: max-content;
    margin: 0 auto;
    // height: 100vh;
}

.login .submit-button-div,
.signup .submit-button-div {
    text-align: center;
    padding-top: 1rem;
}

.signup .submitButton {
    margin: 1rem auto;
}

.login form label,
.signup form label {
    margin-bottom: 1rem;
}

.login .submit-button-div input,
.signup .submit-button-div input {
    background: #E4572E;
    color: white;
    border-radius: 500px;
    border: none;
    padding: 0.5rem 2rem;
}

.header-max-width-div,
.search-result .max-width-div,
.searchpage .max-width-div {
    max-width: 1200px;
    margin: 0 auto;
}

.search-result .filters .choose-gender,
.search-result .filters .choose-area,
.search-result .filters .choose-topic {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.search-result .choose-area select {
    margin-top: 0.75rem;
}

.search-result .one-line .filtertag,
.searchpage .search-filters .filtertag {
    margin-left: 1rem;
}

.search-result .one-line {
    text-align: center;
}

.search-result .one-line ul,
.searchpage .search-filters {
    display: flex;
    flex-flow: row wrap;
}

.search-result .one-line ul {
    padding-left: 1rem;
}

.searchpage .reset_circle {
    font-weight:bold;
    width: fit-content;
    margin: 0 auto;
    transition: all .25s;
}

.searchpage .reset_circle:hover {
    transform: scale(1.25);
}

.single-campaign .influencers-container,
.search-result .results,
.searchpage .first-ul {
    margin: 1rem;
    padding: 0;
}

.search-result .results {
    margin-left: 0;
}

.single-campaign .influencers-container li,
.search-result .results li,
.searchpage .first-ul li {
    // border: 1px solid #A4A4A4;
    margin: 1rem;
}

.searchpage .tag_div li {
    margin: 0.25rem;
}

.searchpage .tag_div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.searchpage .trending-influencers h1 {
    margin-left: 2rem;
    padding-top: 1rem;
}

  .searchpage .influ .influ-div{
      margin: 1rem;
  }

.search-result .searched-keywords {
    margin: 1rem 0;
    background: linear-gradient(264.44deg, rgba(228, 87, 46, 0.15) 3.99%, rgba(90, 13, 254, 0.15) 56.08%, rgba(18, 0, 55, 0.15) 109.51%);
}

.search-result .searched-keywords li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
}

.search-result .sort-by-grid  select {
    border: none;
    max-width: fit-content;
}

.searchpage .influ_div h2,
.search-result .results h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.single-campaign .influ_count_div,
.searchpage .influ_count_div,
.search-result .influ_count_div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}

.searchpage .trending-influencers li {
    list-style-type: none;
}

.single-campaign .influ_count_div div,
.search-result .influ_count_div div,
.searchpage .influ_count_div div 
 {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.search-result .influ_count_div div:last-of-type {
    border-left: 1px solid darkgray;
}

.search-result .tag {
    border: 1px solid darkgrey;
    border-radius: 12px;
    max-width: fit-content;
    padding: 0 0.25rem;
    margin: 0.25rem;
}

.searchpage .trending-influencers .tag_div,
.searchpage .tag_div,
.search-result .tag_div {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.search-result .filters .choose-gender {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.search-result .reset-button {
    width: 140px;
    height: 44px;
    background: #E4572E;
    font-size: 20px;
    color: white;
    border-radius: 500px;
    border: none;
    margin: 1rem;
}

.search-result form {
    text-align: center;
}

.search-result .search_input {
    height: 2rem;
    width: 20rem;
    border: 1px solid grey;
}

.search-result .add-button {
    width: 100px;
    height: 34px;
    background: #E4572E;
    font-size: 20px;
    color: white;
    // margin-left: 0.5rem;
    // padding:0.15rem 1.5rem;
    border: none;
    border-radius: 500px;
    margin: 1rem;
}

.search-result .apply-filters-div {
    padding-left: 1rem;
}

.search-result .reset-button-layout h2 {
    padding: 1rem;
}

.search-result .filters ul button {
    border-radius: 40%;
    border: none;
    padding: 0.25rem;
    background-color: rgba(255, 255, 255, 0.233);
    color:white;
}

.search-result .filters li {
    background-color: black;
    color: white;
    border-radius: 18px;
}

.campaign-page .curcamp_card ul,
.searchpage .trending-influencers .tag_div,
.searchpage .tag_div,
.search-result .apply-filters-div ul {
    display: flex;
    flex-flow: row wrap;
}

.searchpage .influ-cards li,
.search-result .tag_div li {
    padding: 0 0.5rem;
    margin: 0.25rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: #FBE3DC;
    border: 1px solid #ED8F74;
}

.search-result .results li {
    list-style-type: none;
}

.search-result,
.searchpage .background{
    background-color:#E5E8EF;
}

.searchpage .tag,
.campaign-page .curcamp_card ul li {
    border: 1px solid darkgrey;
    border-radius: 12px;
    max-width: fit-content;
    padding: 0.25rem;
    margin: 0.25rem;
    background: #FBE3DC;
    border: 1px solid #ED8F74;
    border-radius: 50px;
}

.campaign-page .curcamp_card,
.search-result .influ_div,
.searchpage .influ_div{
    display:flex;
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    background: linear-gradient(126.5deg, #FFFFFF 0%, #F2F5FC 96.54%);
    box-shadow: 5px 8px 15px rgba(20, 41, 90, 0.1);
}

.single-campaign .influ_count_div div:last-of-type,
.searchpage .influ_count_div div:last-of-type {
    border-left: 1px solid darkgray;
}

.searchpage .search_box {
    background: linear-gradient(264.44deg, rgba(228, 87, 46, 0.15) 3.99%, rgba(90, 13, 254, 0.15) 56.08%, rgba(18, 0, 55, 0.15) 109.51%);   
    text-align: center;
}

.searchpage .search_inp_div {
    background: #FFFFFF;
    box-shadow: 0px 24px 32px rgba(39, 15, 80, 0.2);
    margin: 1rem;
    border-radius: 10px;
}

.searchpage .search_input {
    height: 3rem;
    background-color: transparent;
    border: none;
    width: 100%;
}

.searchpage .filter{
    width: 100px;
    height: 40px;
    background-color: black;
    color:white;
    margin:5px;
    border-radius: 5px;
}


.login .submit-button-div button,
.signup .submit-button-div button,
.searchpage .btn, 
.campaign-page form button,
.campaign-page .create_btn {
    background: #E4572E;
    margin: 1rem;
    font-size: 20px;
    color: white;
    border-radius: 500px;
    border: none;
    padding: 0.25rem 3rem;
}

.login .submit-button-div button,
.signup .submit-button-div button {
    padding: 0.05rem 1rem;
    margin: 0;
}

.searchpage .btn {
    transition: .25s all;
}

.searchpage .btn:hover {
        background:#e54f21;
        transform: scale(1.025);
    } 

.searchpage .search-filters .filtertag button,
.search-result .filtertag button{
    margin-left: 0.5rem;
}

@media screen and (min-width: 750px) { 
    .campaign-page .curcamp_card ul,
    .searchpage .tag_div,
    .search-result .tag_div {
        height: 3.5rem;
        overflow: hidden;
    }

    .single-campaign .influ_div h2,
    .searchpage .influ_div h2,
    .search-result .results h2 {
    height: 2rem;
    overflow: hidden;
    }

    .searchpage .search-filters .filtertag {
        margin: 0.5rem;
    }

    .searchpage .trending-influencers .first-ul,
    .searchpage .influ .influ-cards,
    .search-result .results {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .searchpage .search_inp_div {
        max-width: 915px;
        margin: 1rem auto;
    }

    .searchpage .search-filters {
        width: 900px;
        margin: 1rem auto;
    }

    .search-result .apply-filters-div {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .search-result .searched-keywords,
    .search-result .header{
        grid-column: 1/-1;
    }

    .search-result .sort-by-grid {
        margin-top: 1rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-left: 1rem;
    }

    .search-result .sort-by-grid  select {
        max-width: 75%;
    }
}

.landing .container-background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(81.16deg, #121724 15.87%, #373F52 103.97%);
}

.landing .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.landing .container img {
    padding-right: 1rem;
    padding-left: 1rem;
    place-self: center;
}

.landing .container p {
    color: #E5E8EF;
    margin-top: 0.5rem;
    text-align: left;
}

.landing .container h2 {
    color: pink;
    margin-top: 1rem;
    text-align: left;
}

.landing .container-elements {
    align-self: center;
    padding-left: 1rem;
}

.landing .container-elements .btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.landing .blue-text {
    color: #373F52;
    text-align: center;
    margin-top: 1rem;
}

.landing .blue-text-no-margin {
    color: #373F52;
    text-align: center;
    margin-bottom: 1rem;
}

.landing .cards {
    text-align: center;
}

.landing .card {
    max-width: max-content;
    background: linear-gradient(126.5deg, #FFFFFF 0%, #F2F5FC 96.54%);
    box-shadow: 5px 8px 15px rgba(20, 41, 90, 0.1);
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.landing .create-account, .landing .footer {
    text-align: center;
}

.landing .create-account ul {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
}

.landing .create-account li {
    padding: 0.5rem;
}

.landing .create-account h2 {
    padding-top: 1rem;
}

.landing .create-account button {
    margin: 1rem;
    margin-top: 0.5rem;
}

.landing .footer p {
    font-weight: bold;
    padding-bottom: 1rem;
}

.landing .big-image {
    text-align: center;
}

@media screen and (min-width: 750px) { 
    .landing .cards {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 1rem;
    }

    .landing .cards div:last-of-type {
        grid-column: 2/3;
    }

}

// CREATOR PAGE STYLES
.creator .margin{
    padding: 30px;
}
.creator .tob_Banner {
    height: 250px;
}
.creator .top_Banner_bg{
    height:150px;
    background-image: url("https://i.pinimg.com/736x/69/0f/51/690f51e0aded53b927d2b4397571e0c6.jpg");
    display: flex;
    justify-content: flex-end;
   }
.creator .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    margin: 10px;
    margin-top: -42px;
    border: 1px solid white;
    margin-left: 40px
}
.creator .popubtn{
    width: 160px;
    height: 40px;
    border-radius: 25px;
    align-self: flex-end;
    margin: 20px;
    background: $button-color-background;
    color: white;
    border: none;
}
.creator .textcont{
    display: flex;
}
.creator .namebord{
    margin-left: 140px;
}
.creator .baner{
    font-size: 20px!important;
    margin-left: 10px;
}
.creator .score_card{
    width: 80px;
    height: 70px;
    background: #4501D5;
    position: absolute;
    right: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 0 0 10px 10px;
}

.creator .grid_container{
    display: grid;
  grid-template-columns: 70% auto;
}

.creator .block{
    width: 100%;
    height: 80px;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creator .overviewBlocks{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    padding: 20px;
    gap: 20px;
}

.creator .video{
    margin-top: 20px;
}

.creator .tags{
    width: 100px;
    height: 28px;
    color: #3D1408;

    border-radius: 20px;
    border: 1px solid grey;
    margin: 5px;
    background: #FBE3DC;
    border: 1px solid #ED8F74;
}
.creator .tag_style{
    display:flex;
    justify-content:center;
    align-items:center;
}

.creator .popubtn{
    width: 160px;
    height: 40px;
    border-radius: 25px;
    align-self: flex-end;
    margin: 20px;
    background:$button-color-background;
    color: white;
    border: none;
}

.creator.filter_result{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ded2d2;
    padding: 10px;
}

.creator .filter_title{
    font-size: 14px;
    font-weight: bold;

}

.creator .creat_capm_txt{
    text-align: center;
    color: blue;
    padding: 20px;
}

.creator .filtr_text_cont{
    padding-left: 20px;
}

.creator .filter_subtitle{
    font-size: 13px;
}
.creator .ml20{
    margin-left: 20px;
    margin-top: 20px;
}
.creator .tag_cntnr{
    display:flex;flex-direction:row;flex-wrap:wrap
}
.creator .modal_inputs{
    background-color: white;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.creator .modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.creator .modal_content{
    width: 400px;
    height: 500px;
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
}
.creator .contnr{
    width: 100%;
    padding-top: 20px;
}
.creator .cbtn{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background:$button-color-background;
    color: white;
    border: none;
    margin-top: 25px;
}
.creator .modal_search_input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    padding-left: 10px;

}
.creator .modal_style{
     display: flex;
     justify-content: space-between;
}
.creator .pointer{
    cursor:pointer;
}
.creator .textarea{
  width:100%;
    border-radius:5;
    background-color:white;
}
.creator .graph_style{
        border: 1px solid ;
        padding: 100px;
       
}
.creator .grid_container_graph{
    display: grid;
  grid-template-columns: 70% auto;
}
.creator .channel-name{
    font-size: 32px;
    margin-left: 10px;
    margin-top: 10px;
}
.creator .channel-link{
    color:$link-color;
}
.creator .cbtn{
    align-content: flex-end;
}

//Creator page media query


@media only screen and (max-width:600px) {
    .creator .grid_container {
        display: grid;
        grid-template-columns: 100%;
    }
    .creator .overviewBlocks{
        display: grid;
        grid-template-columns: auto auto ;
        padding: 20px;
        gap: 20px;
    }
    .creator .grid_container_graph {
        display: grid;
        grid-template-columns: auto;
    }
    .creator .avatar {
        margin-top: -120px;
    }
    .creator .textcont {
        margin-top: 0px;
        padding: 20px;
    }
    .creator .namebord {
        margin-left: 0px;
    }
    .creator .link{
        display: flex;
        flex-direction: column;
    }  
    .creator .baner{
        font-size: 15px!important;
        margin-left: 10px;
    }
    .creator .baner{
    font-size: 20px!important;
    margin-left: 10px;  
    }
    .creator .popubtn {
        width: 150px!important;
        height: 40px; 
    }
    .creator .popubtn {
    width: 160px;
    height: 40px;
    border-radius: 25px;
    align-self: flex-end;
    margin: 20px;
    background: #E4572E;
    color: white;
    border: none;
    }
    .creator .avatar{
        margin-left:10px !important;
    }
  }

  //ProfileSetting Page
  .profile{
    background:$secondary-background-color;
  }
  .profile .grid_container{
    display: grid;
    grid-template-columns: 25% auto;
    padding: 100px;
    gap:50px;
  }
  .profile .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    border: 1px solid white;
  }
  .profile .user-details{
    margin-top: 100px;
   
  }
  .profile .user-data{
      display: flex;
      flex-direction: column;
  }

  .profile .email-notification{
    padding:  30px  30px 30px 0px;
  }
  .profile .email{
    padding:  30px  30px 30px 0px;
  }
  .profile .password{
    padding:  30px  30px 30px 0px;
  }
  .profile .subscription{
    padding:  30px  30px 30px 0px;
  }
  .profile .delete{
    padding:  30px  30px 30px 0px;
  }

.profile .heading{
    margin-bottom: 20px;
}
.profile .change-button{
    border-radius: 10px;
    border: 1px solid $change-button-color;
    background-color:$change-button-color;
    color:white;
    width:100px;
}
.profile .settings{
    display: grid;
    grid-template-columns: 50% 50%;
}

.profile .modal_inputs{
    background-color: white;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile .modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile .modal-style{
    display: flex;
    justify-content: space-between;
}
.profile .modal_content{
    width: 400px;
    height: 200px;
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
}
.profile .cbtn{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background:$button-color-background;
    color: white;
    border: none;
    margin-top: 25px;
}
.profle .modal_search_input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    padding-left: 10px;

}
.profile .modal_style{
     display: flex;
     justify-content: space-between;
}
.profile .pointer{
    cursor:pointer;
}

//Toggle switch button style
.toggle-switch {
    position: relative;
    margin-right: 10px;
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    &-checkbox {
      display: none;
    }
    &-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid $label-colour;
      border-radius: 20px;
      margin: 0;
      &:focus {
        outline: none;
        > span {
          box-shadow: 0 0 2px 5px red;
        }
      }
      > span:focus {
        outline: none;
      }
    }
    &-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
      &:before,
      &:after {
        display: block;
        float: left;
        width: 50%;
        height: 34px;
        padding: 0;
        line-height: 34px;
        font-size: 14px;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
      }
      &:before {
        content: attr(data-yes);
        text-transform: uppercase;
        padding-left: 10px;
        background-color: $toggle-colour;
        color: $white;
      }
    }
    &-disabled {
      background-color: $disabled-colour;
      cursor: not-allowed;
      &:before {
        background-color: $disabled-colour;
        cursor: not-allowed;
      }
    }
    &-inner:after {
      content: attr(data-no);
      text-transform: uppercase;
      padding-right: 10px;
      background-color: $label-colour;
      color: $white;
      text-align: right;
    }
    &-switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: $white;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
      border: 0 solid $label-colour;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }
    &-checkbox:checked + &-label {
      .toggle-switch-inner {
        margin-left: 0;
      }
      .toggle-switch-switch {
        right: 0px;
      }
    }
    &.small-switch {
      width: 40px;
      .toggle-switch-inner {
        &:after,
        &:before {
          content: "";
          height: 20px;
          line-height: 20px;
        }
      }
      .toggle-switch-switch {
        width: 16px;
        right: 20px;
        margin: 2px;
      }
    }
  }
  
//Profile page Mobile view
@media only screen and (max-width:600px) {
    .profile{
        margin: 20px;
    }
    .profile .grid_container{
    display: inline;
    }
    .profile .user-data{
        margin: 0px 20px 20px 20px;
    }
    .profile .items{
        margin: 0px 20px 20px 20px;
    }
  
}

.single-campaign,
.campaign-page {
    background-color: #E5E8EF;
    color: #373F52;
}

.campaign-page-background,
.single-campaign-background {
    border-top: 2px solid white;
}

.single-campaign .max-width-div,
.campaign-page .max-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.campaign-page h2 {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.campaign-page label {
    margin-left: 1rem;
}

.campaign-page .campstat_card {
    border-radius: 8px;
    max-width: 18rem;
    padding: 2rem 3rem;
    margin: 1rem;
}

.campaign-page .campstat_card:nth-of-type(1) {
    background-color: #c6daff;
}

.campaign-page .campstat_card:nth-of-type(2) {
    background-color: #ccd6eb;
}

.campaign-page .campstat_card:nth-of-type(3) {
    background-color: #ccc9d5;
}

.campaign-page form {
    text-align: center;
}

.campaign-page form button {
    padding: 0.25rem 1.5rem;
}

.single-campaign .searchbar,
.campaign-page .search_input {
    border: 1px solid lightgrey;
    box-shadow: 0px 24px 32px rgba(55, 63, 82, 0.08);
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    border-radius: 4px;
    text-align: left;
}

.campaign-page .curcamp_card {
    margin: 1rem;
    align-items: start;
    padding-left: 1rem;
}

.campaign-page .curcamp_card h3 {
    margin-top: 1rem;
}

.campaign-page .curcamp_card ul {
    width: 95%;
    list-style-type: none;
    padding-left: 0;
    padding-top: 0.5rem;
    border-top: 1px solid lightgrey;
}

.campaign-page .center-button {
    text-align: center;
}

.campaign-page .create_btn {
    padding: 0.25rem 1.5rem;
}

.campaign-page .modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.campaign-page .modal_content{
    background-color: #E5E8EF;
    padding: 1rem 2rem;
    border-radius: 10px;
    min-width: fit-content;
    overflow: scroll; 
}
.campaign-page .modal_search_input{
    padding-left: 10px;
}



.campaign-page .modal-grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.campaign-page .modal_content form {
    text-align: left;
}

.campaign-page .modal_content label,
.campaign-page .modal_content textarea {
    display: block;
}

.campaign-page .modal_content .checkbox-wrapper label {
    display: unset;
}   

.campaign-page .modal_content h2,
.campaign-page .modal_content label {
    margin-left: 0;
}

.campaign-page .modal_content .close-button {
    border-radius: 50%;
    padding: 0 1rem;
    border: 1px solid darkgray;
}

@media screen and (min-width: 750px) {

    .campaign-page .modal_content {
        width: 600px;
    }

    .campaign-page .statcard_div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .campaign-page .campstat_card {
        max-width: unset;
    }

    .single-campaign .searchbar,
    .campaign-page .search_input {
        height: 45px;
        width: 1044px;
    }

    .campaign-page .camcard_div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .campaign-page .campaigns-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
     }
 
     .campaign-page select{
         margin-right: 1rem;
     }

     .campaign-page .modal_search_input,
    .campaign-page .modal_content textarea{
        width: 100%;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
     }
}

.single-campaign .flex-setup button,
.single-campaign .flex-setup input {
    border: none;
    background-color: #E5E8EF;
    font-weight: bold;
}

.single-campaign .flex-setup {
    text-align: center;
}

.single-campaign .searchbar {
    margin: 1rem;
    margin-left: 0;
}

.single-campaign select {
    border:none;
}

@media screen and (min-width: 750px) {
    .single-campaign .flex-setup {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .single-campaign .search-center {
        text-align: center;
    }

    .single-campaign .sortby {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.login-background,
.signup-background {
    height: 100vh;
    // background-color: #E5E8EF;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.login p button,
.signup p button {
    border: none;
    background-color: rgba(211,174,255,0.1);
    color:#E4572E;
}


@media screen and (max-width: 880px) {

    .signup-background,
    .login-background {
        background-color: rgba(18, 0, 55, 0.15);
    }

    .signup-background .hidden,
    .login-background .hidden {
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
    }
}

.signup-background .hidden,
.login-background .hidden {
    display: block;
}

.login h1,
.signup h1 {
    color: #41444b;
}

.signup-background .hidden h2,
.login-background .hidden h2 {
    text-align: center;
    color: #41444b;
    font-size: 3rem;
}


@media screen and (min-width: 880px) {

.signup-background .max-width,
.login-background .max-width{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.signup-background,
.login-background {
    background: linear-gradient(264.44deg, rgba(228, 87, 46, 0.15) 3.99%, rgba(90, 13, 254, 0.15) 56.08%, rgba(18, 0, 55, 0.15) 109.51%);
}

}

.campaign-page .camcard_div a h3,
.campaign-page .camcard_div a p {
    color: #373F52;
}

.campaign-page .camcard_div a p:last-of-type {
    font-size: 13px;
}

.campaign-page .camcard_div a p {
    margin: 0.25rem;
}

.single-campaign .influencers-container {
    list-style-type: none;
}

.single-campaign .influ_div {
    display:flex;
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    background: linear-gradient(126.5deg, #FFFFFF 0%, #F2F5FC 96.54%);
    box-shadow: 5px 8px 15px rgba(20, 41, 90, 0.1);
    max-width: fit-content;
    padding: 2rem 5rem;
}

.single-campaign .influencers-container li,
.single-campaign .influencers-container {
    margin-left: 0;
}

.single-campaign .influ_div div h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.single-campaign .influ_div {
    margin: 0 auto;
}

.creator .tag_div li {
    display: inline;
    padding: 0.5rem;
}

.creator .tag_div {
    line-height: 3rem;
    padding-left: 0;
}