.header .nav, .tag_div .tag, .search-result .filters ul, .landing .create-account ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.landing .create-account button {
    border: none;
    background-color: #3301A0;
    color: white;
    padding: 0.25rem 0.5rem;
}

.landing .nav li:nth-of-type(2) {
    padding-right: 1rem;
}

.nav .username {
    text-align: center;
    font-weight: bold;
    padding-left: 0;
}

.nav .username li:first-of-type {
    padding-right: 0.5rem;
}

@media screen and (min-width: 750px) {

    .nav {
        float: right;
        margin-right: 100px;
        margin-top: 30px;
    }

    .nav li {
        font-family: sans-serif;
        display: inline;
        font-size: 27px;
    }

    .landing .nav li:nth-of-type(2) {
        padding-right: 2rem;
    }

}


//for influcards
a {
    color: black;
    text-decoration: none;
}

.login button,
.signup button,
.landing .create-account button,
.landing .btn,
.single-campaign .influencers-container li,
.single-campaign .flex-setup button,
.single-campaign .flex-setup input,
.campain-page .curcamp_card,
.search-result .results li,
.first-ul li {
    transition: all .25s;
}

.login button:hover,
.signup button:hover,
.landing .create-account button:hover,
.landing .btn:hover,
.single-campaign .influencers-container li:hover,
.single-campaign .flex-setup button:hover,
.single-campaign .flex-setup input:hover,
.campain-page .curcamp_card:hover,
.search-result .results li:hover,
.first-ul li:hover {
    transform: scale(1.025);
}

.single-campaign .flex-setup button:hover,
.single-campaign .flex-setup input:hover,
.single-campaign .flex-setup button:active,
.single-campaign .flex-setup input:active {
    color: #E4572E;
}