.header .nav, .tag_div .tag, .search-result .filters ul, .landing .create-account ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.landing .create-account a {
    text-decoration: none;
    color: #3301A0;
}

.nav li:first-of-type,
.nav li:nth-of-type(2) {
    padding-right: 1rem;
}

.landing .nav li:nth-of-type(2) {
    padding-right: 1rem;
}

.nav .username {
    text-align: center;
    font-weight: bold;
    padding-left: 0;
}

.nav .username li:first-of-type {
    padding-right: 0.5rem;
}

@media screen and (min-width: 750px) {

    .nav {
        float: right;
        margin-right: 100px;
        margin-top: 30px;
    }

    .nav li {
        font-family: sans-serif;
        display: inline;
        font-size: 27px;
    }

    .landing .nav li:nth-of-type(2) {
        padding-right: 2rem;
    }

}


//for influcards
a {
    color: black;
    text-decoration: none;
}

.first-ul li {
    transition: all .25s;
}

.first-ul li:hover {
    transform: scale(1.025);
}