.search-result .influ_count_div div p:first-of-type {
    font-size: 0.85rem;
}

.search-result .influ_count_div div p:last-of-type {
    font-weight: bold;
}

body {
    font-family: sans-serif;
}

.searchpage .sub_head {
    font-size: 16px;
}

.searchpage .step-number {
    font-size: 20px;
}

.searchpage .step-details {
    font-size: 20px;
}