.search-result .influ_count_div div p:first-of-type {
    font-size: 0.85rem;
}

.search-result .influ_count_div div p:last-of-type {
    font-weight: bold;
}

body {
    font-family: sans-serif;
}

.searchpage .sub_head {
    font-size: 16px;
}

.searchpage .step-number {
    font-size: 20px;
}

.searchpage .step-details {
    font-size: 20px;
}

.campaign-page .campstat_card p {
    font-size: 24px;
    color: #110035;
    font-weight: bold;
}

.campaign-page .campstat_card p:nth-of-type(2) {
    font-size: 0.95rem;
}
